.header {
    background:url('https://www.photocase.com/photos/2234153-healthy-eating-winter-background-picture-food-style-design-photocase-stock-photo-large.jpeg') no-repeat center center;
    background-size: cover;
    height: 800px;
    text-align: center;
}

.layer {
    background-color:#ffffff;
    position: absolute;
    top: 10;
    left: 0;
    width: 100%;
    height: 10%;
}

h1 {
	font-family:georgia; 
	color: teal; 
	font-size:50px;
	font-weight:bold;
	text-align:center;
}

p {
	font-family:georgia;
	color:#393f34;
	font-size:20px;
	font-weight:normal;
	text-align:center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%
}