/*.background {
    background:url('../../background.jped');
    position: relative;
}

.layer {
    background-color:#FFFFFF;
    position: absolute;
    top: 10;
    left: 0;
    width: 100%;
    height: 10%;
}*/

h1 {
	font-family:georgia; 
	color:#4B6633; 
	font-size:50px;
	font-weight:bold;
	text-align:center;
}

h2 {
	font-family:georgia;
	color:#393F34;
	font-size:20px;
	font-weight:normal;
	text-align:center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%
}